@CHARSET "UTF-8";
html, body, .contain {
	background-color: #fff;
	color: #606266;
	width: 100%;
	min-width: 1360px;
	height: 100%;
	min-height: 458px;
}
.search_form {
	border: thin solid #e4e7ed;
	border-radius: 5px;
	padding-top: 18px;
}
.buttons {
	clear: both;
	margin: 15px 0;
}
