@CHARSET "UTF-8";
html, body, .contain {
	background-color: #fff;
	color: #606266;
	width: 100%;
	min-width: 1360px;
	height: 100%;
	min-height: 438px;
	overflow: hidden;
}
.search_form {
	border: thin solid #e4e7ed;
	border-radius: 5px;
	padding-top: 18px;
}
.buttons {
	clear: both;
	margin: 15px 0;
}
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-track { display: none; }
::-webkit-scrollbar-track-piece { display: none; }
::-webkit-scrollbar-thumb { background: rgba(220,223,230, 0.5); border-radius: 5px; }
::-webkit-scrollbar-corner { display: none; }
::-webkit-scrollbar-resizer  { display: none; }
