<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<meta name="_csrf_token" th:content="${_csrf.token}" />
</head>

<body>
	<!-- 引入CSS -->
	<div th:include="main/import :: css"></div>
	
	<!-- 检索条件 -->
	<form id="form-search">
		<table class="search">
			<tr>
				<th><label for="accountId" th:text="#{帐号ID}"></label></th>
				<td><input id="accountId" type="text" class="form-control input-sm" /></td>
				<th><label for="accountNm" th:text="#{用户名称}"></label></th>
				<td><input id="accountNm" type="text" class="form-control input-sm"/></td>
				<th><label for="accountNm" th:text="#{是否锁定}"></label></th>
				<td>
					<label class="checkbox-inline"><input type="checkbox" name="nonLocked" value="1" checked="checked" />[[#{是}]]</label>
					<label class="checkbox-inline"><input type="checkbox" name="nonLocked" value="0" checked="checked" />[[#{否}]]</label>
				</td>
				<th><label for="accountNm" th:text="#{是否可用}"></label></th>
				<td>
					<label class="checkbox-inline"><input type="checkbox" name="enabled" value="1" checked="checked" />[[#{是}]]</label>
					<label class="checkbox-inline"><input type="checkbox" name="enabled" value="0" checked="checked" />[[#{否}]]</label>
				</td>
			</tr>
		</table>
	</form>
	
	<!-- 按钮组 -->
	<div class="buttons">
		<button id="btn_search" type="button" class="btn btn-default btn-sm" onclick="search();">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			<span th:text="#{检索}"></span>
		</button>
		<button id="btn_add" type="button" class="btn btn-default btn-sm" onclick="add();">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<span th:text="#{登录}"></span>
		</button>
		<button id="btn_mod" type="button" class="btn btn-default btn-sm disabled">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			<span th:text="#{修改}"></span>
		</button>
		<button id="btn_del" type="button" class="btn btn-default disabled btn-sm">
			<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
			<span th:text="#{删除}"></span>
		</button>
		<button id="btn_export" type="button" class="btn btn-default btn-sm" onclick="exportExcel();">
			<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
			<span th:text="#{导出}"></span>
		</button>
	</div>
	
	<!-- 列表 -->
	<div data-ax5grid="table" data-ax5grid-config="{}" style="height: 300px;"></div>
	
	<!-- 引入JS -->
    <div th:include="main/import :: js"></div>
    
	<script type="text/javascript">
	/*<![CDATA[*/
		// 设置子页面高度
		// 定义列表控件
		var table = util.initTable("table", {
			frozenColumnIndex: 1,
            columns: [
                {key: "accountId", 				label: "[[#{帐号ID}]]", 		align: "center", width: 140, styleClass: "linkColumn" },
                {key: "accountNm", 				label: "[[#{用户名称}]]", 	width: 150 },
                {key: "userBirthday", 			label: "[[#{生日}]]", 		align: "center", width: 90 },
                {key: "userDesc", 				label: "[[#{描述}]]", 		width: 300 },
                {key: "enabled", 				label: "[[#{是否可用}]]", 	align: "center", width: 90 },
                {key: "nonLocked", 				label: "[[#{是否锁定}]]", 	align: "center", width: 90 },
                {key: "nonExpired", 			label: "[[#{是否过期}]]", 	align: "center", width: 90 },
                {key: "credentialsNonExpired", 	label: "[[#{凭证是否过期}]]",align: "center", width: 120 },
                {key: "inDtm", 					label: "[[#{登录日时}]]", 	align: "center", width: 150 }
            ],
			body: {
            	onClick: function () {
            		if (this.column.key == "accountId") {
        	       		util.openWin("title", "/view/system-user-user_dtl", function (result) {
        					console.log(result);
        					if ("Y" == data.result) {
        						table.bootstrapTable('refresh');
        					}
        				});				
        			}
            	},
            	onDBLClick: function() {
        			if (this.column.key == "accountId") {
        				up();
        			}
        		},
            	onDataChanged: function () {
                	if (this.item.__selected__) {
        				$("#btn_mod").removeClass("disabled");
        				$("#btn_del").removeClass("disabled");
                	} else {
        				$("#btn_mod").addClass("disabled");
        				$("#btn_del").addClass("disabled");
                	}
                }
            }
            
		});
		
		/* 导出按钮事件 */
		function exportExcel() {
			table.exportExcel("grid-to-excel.xls");
		}
		
		/* 检索按钮事件 */
		function search() {
			util.getAjax().post("/user/read", $("#form-search").serialize(), function(data) {
				table.setData(data);
			}, true);
		}
		
		search();
		
		/* 登录按钮事件 */
		function add() {
			util.openWin("[[#{用户登录}]]", "user", "/view/system-user-user_add", {}, function () {
				search();
			});
		}
		
		/* 修改按钮事件 */
		function up() {
			util.openWin("title", "/view/system-user-user_up", { account_cd: 1 }, function (result) {
				if ("Y" == data.result) {
					search();
				}
			});
		}
		
		/* 删除按钮事件 */
		function del() {
            util.getAjax().post("/user/del", JSON.stringify(table.bootstrapTable('getSelections')), function(data) {
				search();
			}, true);
		}
		
	/*]]>*/
	</script>
</body>
</html>